[submodule "apps/backend"]
	path = apps/backend
	url = git@github.com:riktikdev/employee-system-backend.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = git@github.com:riktikdev/employee-system-frontend.git
